body,div,ul,li,table,tr,th,td{
	margin:0px;
	padding:0px;
}
body{
	color:#333;
	font-size:14px;
	font-family:微软雅黑;
	background-color:white;
	/*padding:20px;*/
}
ul,li{list-style:none;}
a:link,a:visited{
	color:#333;
	text-decoration:none;
}
.blank{ /*去除浮动*/
	height:10px;
	clear:both;
}
.align-r{ /*水平靠右*/
    text-align:right;
}
.align-l{ /*水平靠左*/
    text-align:left;
}
.main{
    padding:20px;
}
.site{
	float:left;
	width:25%;
	border:1px solid #DDD;
	border-radius:4px;
}
.head{
	/*height:20px;*/
	padding:10px 15px;
	background-color:#F5F5F5;
	border-bottom:1px solid #DDD;
	border-radius:4px 4px 0px 0px;
}
.list li{
	padding:10px 15px;
	border-bottom:1px solid #DDD;
}
.list a:link,a:visited{
    color:white;
}
.list a.model-g{
	float:right;
	border:1px solid green;
	background-color:green;
	padding:3px 7px;
	text-align:center;
	line-height:10px;
	font-size:12px;
	border-radius:2em;
}
.list a.model-r{
	float:right;
	border:1px solid red;
	background-color:red;
	padding:3px 7px;
	text-align:center;
	line-height:10px;
	font-size:12px;
	border-radius:2em;
}

.schedule{
	float:right;
	width:70%;
	border:1px solid #DDD;
	border-radius:4px;
}

.sys_info{
	width:100%;
	border:1px solid #DDD;
	border-radius:4px;
}
.sys_info table td{
    text-align:left;
}

.odd{/*用于隔行换色*/
	background-color: #DDD;
}
.even{
	background-color: white;
}

table{
	width:100%;
	border-collapse: collapse;
}
/*.sys_info table tr{border-bottom:1px solid #DDD;}*/
table tr:hover{
    background-color:#DDD;
}
table th{
	/*width:50%;*/
	padding:8px;
	/*text-align:left;*/
	border-bottom:2px solid #DDD;
}
.center td{
    text-align:center;
}
table .input{
	width: 40%;
	color:#333;
}
table td{
	padding:8px;
	border-bottom:1px solid #DDD;
}

.table-class{
	border:1px solid #DDD;
	border-radius: 4px;
}
/*.table-class .operate{*/
.operate{
	padding: 10px;
	border-bottom: 1px solid #DDD;
	overflow: hidden;
}
.operate .input{
	width:20%;
	color:#333;
}
.button{
	/*display: inline-block;*/
	padding: 5px;
	border:1px solid #DDD;
	border-radius: 4px;
	cursor: pointer;
	background-color: white;
}
.button:hover{
	background-color: #DDD;
}
.button.border-green{
	color: #22CC77;
	border: 1px solid #22CC77;
}
.button.border-green:hover{
	background-color: #22CC77;
	color: white;
}
.button.border-red{
	color: #FF6600;
	border: 1px solid #FF6600;
}
.button.border-red:hover{
	background-color: #FF6600;
	color: white;
}
.button.border-blue{
	color: #00AAEE;
	border: 1px solid #00AAEE;
}
.button.border-blue:hover{
	background-color: #00AAEE;
	color: white;
}

.page{
	padding:15px;
	text-align:center;
	background-color: #F5F5F5;
	border-radius: 0px 0px 4px 4px;
}
.page .bar{
    padding:5px;
    border:1px solid #DDD;
    border-radius:4px;
    background-color:white;
}
.page .curr{
    padding:5px;
    border:1px solid #DDD;
    border-radius:4px;
    background-color:#00AAEE;
    color:white;
}

.form-class strong{
	float: left;
	padding: 8px 20px 0px 0px;
	line-height: 20px;
}
.form-class ul{
	padding-left: 20px;
}
.form-class li{
	display: inline-block;
	border-radius: 4px 4px 0px 0px;
}
.form-class li>a:hover{
	background-color: #6633ff;
	color:white;
	font-weight:bold;
}
.form-class li a{
	color: #333;
	display: block;
	padding: 8px 20px;
	line-height: 20px;
	border: 1px solid #DDD;
	border-radius: 4px 4px 0px 0px;
}
.form-class .form-body{
	margin-top: -1px;
	padding-top: 15px;
	border-top: 1px solid #DDD;
}
 .form-body .form-list{
 	padding-bottom: 15px;
 	overflow: hidden;
 }
.form-body .form-list .label{
	float: left;
	width: 15%;
	text-align: right;
	padding: 7px 7px 7px 0px;
	line-height: 20px;
	font-weight: bold;
}
.form-body .form-list .field{
	float: left;
	width: 50%;
}
.input{
	font-size: 14px;
	padding: 6px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	border: 1px solid #999;
	border-radius: 4px;
	color: #555;
}
textarea.input{
	height: auto;
}
select{
	/*padding: 6px;*/
	height: 32px;
	line-height:32px;
	border: 1px solid #999;
	border-radius: 4px;
}
.unput{
	padding: 6px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 4px;
}
.form-button{
	padding-left: 15%;
}
.submit{
	padding: 5px;
	/*font-size: 12px;*/
	font-weight: bold;
	color: white;
	background-color: #00AAEE;
	border: 1px solid #00AAEE;
	border-radius: 4px;
}
.reset{
	padding: 5px;
	/*font-size: 12px;*/
	font-weight: bold;
	color: white;
	background-color: #FF7214;
	border: 1px solid #FF7214;
	border-radius: 4px;
}

.footer{
	position:fixed;
	bottom:0px;
	right:0px;
	/*left:180px;*/
	width:100%;
	padding:10px;
	border-top:1px solid #B5CFD9;
	background-color:#E6F2FB;
	text-align:center;
	font-size:14px;
	color:green;
}
.footer a:link,a:visited{
    color:green;
}
.footer a:hover{
	color:red;
}

.dashed-line{
    font-weight:bold;
    font-size:14px;
    border-bottom:1px dashed #888;
    padding-bottom:5px;
	margin-bottom:5px;
}
.under-line{
    overflow:hidden;
    border-bottom:1px solid #888;
	padding:5px 0px;
}
.float-l{
    float:left;
    padding-left:20px;
}
.float-r{
    float:right;
    /*padding-left:20px;*/
}
.active{
    background-color:#6633ff;
}
li.active a{
    color:#fff;
    font-weight:bold;
    border-radius:4px;
}
#img_opt{
    cursor:pointer;
    font-size:20px;
}
.pics li{
    padding:0px 5px 5px 5px;
}
.open {
    padding:0px 2px;
    border: 1px solid #670768;
    font-weight: bold;
    cursor: pointer;
}